<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.imp.lpg.wizards.LPG"
            parentCategory="org.eclipse.imp.wizards"
            name="LPG"/>
      <wizard
            class="org.eclipse.imp.lpg.wizards.NewLPGGrammarWizard"
            icon="icons/newgrammarfile.gif"
            category="org.eclipse.imp.wizards/org.eclipse.imp.lpg.wizards.LPG"
            name="LPG Grammar (non-IMP)"
            id="org.eclipse.imp.lpg.NewLPGGrammarWizard"/>
      <wizard
            class="org.eclipse.imp.lpg.wizards.NewLPGGrammarForIMPWizard"
            icon="icons/newgrammarfile.gif"
            category="org.eclipse.imp.wizards/org.eclipse.imp.lpg.wizards.LPG"
            name="LPG Grammar for IMP"
            id="org.eclipse.imp.lpg.NewLPGGrammarForIMPWizard"/>
	  <wizard
            class="org.eclipse.imp.lpg.wizards.NewParserWrapperWizard"
            icon="icons/newgrammarfile.gif"
            category="org.eclipse.imp.wizards/org.eclipse.imp.lpg.wizards.LPG"
            name="Parser Wrapper for IMP"
            id="org.eclipse.imp.lpg.NewParserWrapperWizard"/>
	  <wizard
            class="org.eclipse.imp.lpg.wizards.NewLPGGrammarWithParserWrapperWizard"
            icon="icons/newgrammarfile.gif"
            category="org.eclipse.imp.wizards/org.eclipse.imp.lpg.wizards.LPG"
            name="LPG Grammar with Parser Wrapper for IMP"
            id="org.eclipse.imp.lpg.NewLPGGrammarParserWrapperWizard"/>
   </extension>
</plugin>
