<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jikespg.uide.wizards"
            name="JikesPG"/>
      <wizard
            class="org.jikespg.uide.wizards.NewUIDEParserWizard"
            icon="icons/newgrammarfile.gif"
            category="org.eclipse.uide.wizards/org.eclipse.uide.wizards.parser"
            name="JikesPG Grammar and Parser for UIDE"
            id="org.jikespg.uide.NewJikesPGParserWizard"/>
      <wizard
            class="org.jikespg.uide.wizards.NewGrammarWizard"
            icon="icons/newgrammarfile.gif"
            category="org.jikespg.uide.wizards"
            name="JikesPG Grammar and Parser"
            id="org.jikespg.uide.NewJikesPGGrammarWizard"/>
   </extension>
   <extension
         id="jikesPGNature"
         name="JikesPG Nature"
         point="org.eclipse.core.resources.natures">
      <builder id="org.jikespg.uide.jikesPGBuilder"/>
      <runtime>
         <run class="org.jikespg.uide.builder.JikesPGNature"/>
      </runtime>
   </extension>
 
   <extension
         id="jikesPGBuilder"
         name="JikesPG Grammar File Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.jikespg.uide.builder.JikesPGBuilder"/>
      </builder>
   </extension>
   <extension
         id="problem"
         name="JikesPG Error"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="JikesPG UIDE"
            id="org.jikespg.uide"/>
      <view
            class="org.jikespg.uide.views.JikesPGView"
            icon="icons/sample.gif"
            category="org.jikespg.uide"
            name="JikesPG Console"
            id="org.jikespg.uide.views.JikesPGView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               id="org.jikespg.uide.views.JikesPGView"/>
      </perspectiveExtension>
   </extension>
   <extension
         id="org.jikespg.uide.jikesPG"
         name="JikesPG Language"
         point="org.eclipse.uide.runtime.languageDescription">
      <language
            description="JikesPG Grammar Specification"
            extensions="g,gi,lpg"
            icon="grammarfile.gif"
            language="JikesPG"/>
   </extension>
   <extension
         name="JikesPG Grammar Specification Parser"
         point="org.eclipse.uide.runtime.parser">
      <parser
            class="org.jikespg.uide.parser.ParseController"
            id="org.jikespg.uide.parser"
            language="JikesPG"
            name="JikesPG Grammar Parser"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.tokenColorer">
      <tokenColorer
            class="org.jikespg.uide.editor.TokenColorer"
            language="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.outliner">
      <outliner
            class="org.jikespg.uide.editor.Outliner"
            id="org.jikespg.uide.outliner"
            language="JikesPG"
            name="JikesPG Grammar Outliner"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.contentProposer">
      <proposer
            class="org.jikespg.uide.editor.ContentProposer"
            id="org.jikespg.uide.proposer"
            language="JikesPG"
            name="JikesPG Content Proposer"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.hoverHelper">
      <hoverhelper
            class="org.jikespg.uide.editor.HoverHelper"
            id="org.jikespg.uide.hoverHelper"
            language="JikesPG"
            name="JikesPG Hover Helper"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.hyperLink">
      <hyperlinkDetector
            class="org.jikespg.uide.editor.HyperlinkDetector"
            id="org.jikespg.uide.hyperlinkDetector"
            language="JikesPG"
            name="JikesPG Hyperlink Detector"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.jikespg.uide.projectContextMenu"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="org.jikespg.uide.EnableBuilder"
               icon="icons/builderEnable.gif"
               id="org.jikespg.uide.enableBuilderAction"
               label="Enable &amp;JikesPG Builder"
               tooltip="Enable the JikesPG builder for this project"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jikespg.uide.preferences.JikesPGPreferencePage"
            id="org.jikespg.uide.preferencePage"
            name="JikesPG"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jikespg.uide.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            class="org.jikespg.uide.compare.JikesPGStructureNode"
            extensions="g,gi"
            id="org.jikespg.uide.structureCreator"/>
<!--      <contentTypeBinding
            contentTypeId="org.jikespg.uide.grammarFile"
            structureCreatorId="org.jikespg.uide.structureCreator"/>
  -->
   </extension>
<!--   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="g,gi"
            id="org.jikespg.uide.grammarFile"
            name="JikesPG Grammar File"
            priority="normal"/>
   </extension>
 -->
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.jikespg.uide.compare.StructureMergeViewerCreator"
            extensions="g,gi"
            id="org.jikespg.uide.viewer"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.foldingUpdater">
      <foldingUpdater
            class="org.jikespg.uide.editor.FoldingUpdater"
            id="org.jikespg.uide.foldingUpdater"
            language="JikesPG"
            name="JikesPG Source Folding Updater"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.formatter">
      <formatter
            class="org.jikespg.uide.editor.JikesPGFormatter"
            language="JikesPG"
            name="JikesPG Grammar Formatter"/>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.jikespg.uide.search.JikesPGSearchPage"
            enabled="true"
            extensions="g:100"
            icon="icons/sample.gif"
            id="org.jikespg.uide.searchPage"
            label="JikesPG Search"
            showScopeSection="true"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.jikespg.uide.search.JikesPGSearchResultPage"
            id="org.jikespg.uide.searchResultViewPage"
            searchResultClass="org.jikespg.uide.search.JikesPGSearchResult"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.labelProvider">
         <labelProvider
               class="org.jikespg.uide.editor.JikesPGLabelProvider"
               language="jikespg"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.outlineContentProvider">
         <outlineContentProvider
         		class="org.jikespg.uide.editor.JikesPGContentProvider"
         		language="jikespg"/>
   </extension>
</plugin>
