%options package=$PACKAGE$
%options template=$TEMPLATE$
%options import_terminals=$LANG_NAME$Lexer.gi
$AUTO_GENERATE$
--
-- This is just a sample grammar and not a real grammar for $LANG_NAME$
--

$Globals
    /.import org.eclipse.uide.parser.IParser;
    ./
$End

$Define
    $ast_class /.Object./
    $additional_interfaces /., IParser./
$End

$Terminals
    --            
    -- Here, you may list terminals needed by this grammar.
    -- Furthermore, a terminal may be mapped into an alias
    -- that can also be used in a grammar rule. In addition,
    -- when an alias is specified here it instructs the
    -- generated parser to use the alias in question when
    -- referring to the symbol to which it is aliased. For
    -- example, consider the following definitions:
    --
         int
         short
         IDENTIFIER 
         NUMBER
         SEMICOLON ::= ';'
         PLUS ::= '+'
         MINUS ::= '-'
         ASSIGN ::= '='
    --
    -- Here the terminals int, float, IDENTIFIER and NUMBER are
    -- defined without an alias; SEMICOLON is aliased to ';';
    -- PLUS is aliased to '+'... etc...
    --
    -- Note that the terminals that do not have aliases are declared
    -- above only for documentation purposes.
    --
$End

$Rules
    -- In this section you list all the rules for your grammar.
    -- When reduced, each rule will produce one Ast node.
    -- 
    --  Here are some example rules:
    -- 
        block ::= $empty
                | block statement
        statement ::= declaration
                    | assignment
        declaration ::= int IDENTIFIER ;
                      | short IDENTIFIER ;
        assignment ::= IDENTIFIER '=' expression ';'
        expression ::= expression '+' term
                     | expression '-' term
                     | term
        term ::= IDENTIFIER
               | NUMBER
    -- 
$End

-- Make sure you check the TODO's (see the Task View)
